chardet==3.0.4
Click==7.0
clickclick==1.2.2
connexion==2.6.0
cmudict==0.4.4
Flask==1.1.1
flask-marshmallow==0.11.0
Flask-SQLAlchemy==2.4.1
Jinja2==2.11.1
jsonschema==3.2.0
marshmallow2==2.20.2
marshmallow-sqlalchemy==0.22.2
nltk==3.4.5
pathlib==1.0.1
requests==2.22.0
SQLAlchemy==1.3.13
swagger-ui-bundle==0.0.6